body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-image: url("images/textura.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 100%;
  display:  grid;
  grid-template-rows: 1fr 6fr 1fr ;
}

body, html {
  height: 100%;
  overflow-x: hidden;
}


nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
  font-size: 1.2rem; 
}

.logo { 
  width: 160px; 
}


header {
  background-color: transparent;
  color: #023e8a;
  display: flex;
  justify-content: space-between; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 0.5px solid #023e8a; /* Línea de separación */
}

main {
  grid-row: 2;
  display: flex;
  align-items: center; /* Centra horizontalmente */
  align-content: center;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: -1rem;
  color: #023e8a;
}

h2 {
  color: #023e8a;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.seccion {
  display: none;
}

.seccion.activa {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeSlide 1.1s ease-in-out;
}

.contenido-inicio {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  align-content: center;
}

.contenido-inicio h1 {
  font-size: 4rem;
}

.contenido-inicio p {
  font-size: 2.5rem;
}

.contenido-proyecto {
  max-width: 80%;
  margin: 0 auto;
  padding: 0.5rem 1rem; 
}

.contenido-proyecto h2 {
  font-size: 250%;
  font-family: 'Urbanist'
}

.contenido-proyecto p {
  font-size: 160%;
}

.contenido-funciona{
  max-width: 80%;
  margin: 0 auto;
  padding: 0.5rem 1rem; 
}

.contenido-funciona h2 {
  font-size: 250%;
}

.contenido-funciona p, .contenido-funciona li {
  font-size: 160%;
}

.contenido-app{
  max-width: 80%;
  margin: 0 auto;
  padding: 0.5rem 1rem; 
}

.contenido-app h2 {
  font-size: 250%;
}

.contenido-app p, .contenido-app li {
  font-size: 160%;
}

.contenido-equipo{
  max-width: 80%;
  margin: 0 auto;
  padding: 0.5rem 1rem; 
}

.contenido-equipo h2 {
  font-size: 250%;
}

.contenido-equipo p, .contenido-equipo li {
  font-size: 160%;
}

.contenido-patrocinadores{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem; 
}

.patrocinadores {
  padding-bottom: 70px;
}

.patroh1 {
  font-size: 3.2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #023e8a;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  opacity: 1; /* Visible inicialmente */
  animation-fill-mode: both;
}

.patrop {
  font-size: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -25px;
  max-width: 100%;
  opacity: 1; /* Visible inicialmente */
  animation-fill-mode: both;
}

.fadesatxt strong {
  color: #0056b3; 
  font-weight: bold;
}

.fadesatxt {
  display: block; 
  text-align: left; 
  align-items: left;
  max-width: 45%;
  padding-bottom: 30%;
  float: left;
  font-size: 2rem;
  padding-top: 100px;
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 25% cover 50%;
}

.logofadesa {
  float: right;
  padding-top: 200px;
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 25% cover 50%;
}

.botonfadesa {
  float: right;
  margin-top: 50px;
  margin-right: 80px;
 }

 .contenido-ayuda{
  max-width: 80%;
  margin: 0 auto;
  padding: 0.5rem 1rem; 
}

.contenido-ayuda h2 {
  font-size: 250%;
}

.contenido-ayuda p {
  font-size: 160%;
}

.contenido-contacto{
  max-width: 80%;
  margin: 0 auto;
  padding: 0.5rem 1rem; 
}

.contenido-contacto h2 {
  font-size: 250%;
}

.contenido-contacto p, .contenido-contacto li {
  font-size: 160%;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 2rem;
  }

  .logo {
    margin: 0 auto;
    display: block;
    height: 100px;
    margin-top: 15px;
  }
}

/* Estilos para la animación hover en el menú dSe navegación */
nav ul li a.menu__link{
  color: #023e8a;
  line-height: 2;
  position: relative;
}

nav ul li a.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #023e8a;
  position: absolute;
  bottom: -.25rem;
  left: 0;
  transition: width 1s;
}

nav ul li a.menu__link:hover::before {
  width: 100%;
}


button {
  height: 70px;
  width: 300px;
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #023e8a;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 19px -3px #0d1b2a(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px #0d1b2a(0,0,0,0.27);
  transition: all 500ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #0d1b2a;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #0d1b2a(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px #0d1b2a(0,0,0,0.27);
  transition: all 500ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }

 @keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show { 
  from { 
    opacity: 0; scale: 10%; 
  }
  to { 
    opacity: 1; scale: 100%; 
  } 
}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 2rem;
  }
}

/* Estilos para escritorios grandes */
@media screen and (min-width: 1025px) {
  .container {
    padding: 3rem;
  }
}
